.main-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main-button:hover {
  background-color: #0056b3;
}

.center-button {
  margin-top: 20px;
}
